.listings img{
    width:200px;
    margin-top: 10px;
   
}
.club-list{
    margin:0 auto;
    text-align: center;
}
.listings{
   
    margin-bottom: 5px;
    font-family: Outfit;
    font-weight: 500;
}
.listings hr{
    margin-top: 15px;
}